<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Water Handling" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\projects\env\Scripts\python.exe|D:\projects\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
